<!-- Button trigger modal -->
<button (click)="abrirModal()" type="button" class="btn btn-primary d-flex align-items-center shadow adicionar-button">
    <i class="bi bi-plus fs-2"></i>
    <p class="mb-0 ms-2">Adicionar Aluno</p>
</button>

  
  <!-- Modal -->
<div class="modal fade" id="modalAlunos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastre Aluno</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-formulario-aluno [alunoData]="alunoData"></app-formulario-aluno>
      </div>
    </div>
  </div>
</div>
